html, body {
    height: 100%;
}

.vertical_menu {
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.vertical_menu button, a {
    width: 300px; 
    margin: 7px;
}